@model List<ASP.NET_Practice.DataAccess.SingleEntityRepo.Models.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All users</title>
</head>
<body>
    <div>
        <ul>
            @foreach(var user in Model)
            {
                <li>
                    <span>@user.Name</span>
                    <span>@user.Email</span>
                    <span>@user.Role.Name</span>
                </li>
            }
        </ul>
    </div>
</body>
</html>
