@model List<ASP.NET_Practice.DataAccess.SingleEntityRepo.Models.Role>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Роли</title>
</head>
<body>
    <div> 
        @foreach(var role in Model)
        {
            <ul>
                <li>
                    <span>@role.Name</span>
                    <span>@role.Code</span>
                </li>
            </ul>
        }
    </div>
</body>
</html>
