@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Asp.Net Practice</h1>
    <div class="menu">
        <ul>
            <li>@Html.ActionLink("Пользователи", "GetAll", "Users")</li>
            <li>@Html.ActionLink("Роли", "GetAll", "Roles")</li>
        </ul> 
    </div>
</body>
</html>
