@{
    ViewBag.Title = "Главная";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="navbar">
    <ul class="nav">
        <li>
            @Html.ActionLink("Пользователи", "GetAll", "Users")
        </li>
        <li>
            @Html.ActionLink("Роли", "GetAll", "Roles")
        </li>
    </ul>
</div>


