@model List<ASP.NET_Practice.DataAccess.Models.Role>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Роли</h1>
    <div>
        @foreach (var role in Model)
        {
            <div class="roles">
                <span class="id">@role.Id</span>
                <span class="name">@role.Name</span>
                <span class="code">@role.Code</span>
            </div>
        }
    </div>
</body>
</html>
